In [5]:
# Created or modifed on Sep 2022
# Author: 임일
# w2 EachMovie연습문제

import pandas as pd
import numpy as np

In [3]:
# csv 파일에서 불러오기
ratings = pd.read_csv('C:/RecoSys/Data/EM_ratings.csv', encoding='utf-8')
ratings = ratings.set_index('user_id')

ratings.head()

         movie_id  rating  Weight           Modified
user_id
1             968       5     1.0  10/22/96 14:22:19
1            1201      10     1.0  10/26/96 14:54:10
1            1080      10     1.0  10/22/96 16:38:58
1             440      10     1.0   4/21/96 11:43:04
1            1082      10     1.0    5/6/97 18:43:16

In [4]:
movies = pd.read_csv('C:/RecoSys/Data/movie.csv', encoding='utf-8')

movies = movies[['ID', 'Name']]
movies.columns = ['movie_id', 'title']
movies = movies.set_index('movie_id')

movies.head()

                                title
movie_id
1                           Toy Story
2                             Jumanji
3                    Grumpier Old Men
4                   Waiting to Exhale
5         Father of the Bride Part II

In [6]:
# Best-seller recommender
def RMSE(y_true, y_pred):
    import numpy as np
    return np.sqrt(np.mean((np.array(y_true) - np.array(y_pred))**2))

def recom_movie1(n_items=5):
    movie_sort = movie_mean.sort_values(ascending=False)[:n_items]
    recom_movies = movies.loc[movie_sort.index]
    recommendations = recom_movies['title']
    return recommendations

movie_mean = ratings.groupby(['movie_id'])['rating'].mean()
recom_movie1(10)

rmse = []
for user in set(ratings.index):
    y_true = ratings.loc[user][['movie_id', 'rating']]
    y_pred = movie_mean[ratings.loc[user]['movie_id']]
    accuracy = RMSE(y_true['rating'], y_pred)
    rmse.append(accuracy)
print(np.mean(rmse))

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_18416\134428633.py:7: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  movie_sort = movie_mean.sort_values(ascending=False)[:n_items]

5.6898179821714585