In [18]:
# Created or modifed on Sep 2022
# Author: 임일
# w2 EachMovie 연습문제

import pandas as pd
import sklearn.utils

In [47]:
# csv 파일에서 불러오기
ratings = pd.read_csv('C:/RecoSys/Data/vote.csv', encoding='utf-8')

print(ratings.shape)
ratings.head()

(2811983, 5)

   Person  Movie_ID  Score  Weight           Modified
0       1         1    0.6     1.0   4/15/96 13:16:00
1       1         2    0.6     1.0  10/22/96 16:37:31
2       1        10    0.4     1.0  10/26/96 15:07:36
3       1        13    0.0     0.2   4/15/96 12:13:36
4       1        17    0.8     1.0    9/18/96 9:22:08

In [48]:
#person->user_id, movie_ID->movie_id, Score->rating
ratings.columns = ['user_id', 'movie_id', 'rating', 'Weight', 'Modified']

#rating 수 변환
def changeRating(num) :
    if num == 0:
        return 1
    else :
        return int(5 * num)
ratings.rating = ratings.rating.map(lambda x : changeRating(x))

# 중복 제거
ratings = ratings.drop_duplicates(subset=['user_id', 'movie_id'])

#random data 추출
ratings = sklearn.utils.shuffle(ratings)
ratings = ratings.iloc[:250000]

print(ratings.shape)
ratings.head()

(250000, 5)

         user_id  movie_id  rating  Weight           Modified
808831     23411       111       4     1.0    7/8/96 18:00:29
478221     15597       344       1     1.0   6/10/96 10:58:25
2208620    59574        79       3     1.0    2/8/97 19:00:14
1963567    52302       743       2     1.0  12/13/96 11:37:52
723622     21296       361       1     1.0    7/1/96 18:31:18

In [54]:
#사용자별로 rating 수 확인, 10개 미만인 사용자 제거
ratings1 = ratings.groupby(by='user_id')['rating'].count()
ratings1 = ratings1[ratings1>10].reset_index()
#ratings = ratings.loc[ratings1.user_id]
#ratings
ratings = ratings.rating.map(lambda x : x in ratings1.user_id.to_list())
ratings
#ratings.head()

AttributeError: 'DataFrame' object has no attribute 'ratings1'

In [ ]:
ratings.to_csv("C:\RecoSys\Data\EM_ratings.csv", encoding='utf-8')