In [18]:
# Created or modifed on Sep 2022
# Author: 임일
# w2 EachMovie 연습문제

import pandas as pd
import sklearn.utils

In [47]:
# csv 파일에서 불러오기
ratings = pd.read_csv('C:/RecoSys/Data/vote.csv', encoding='utf-8')

print(ratings.shape)
ratings.head()

(2811983, 5)

   Person  Movie_ID  Score  Weight           Modified
0       1         1    0.6     1.0   4/15/96 13:16:00
1       1         2    0.6     1.0  10/22/96 16:37:31
2       1        10    0.4     1.0  10/26/96 15:07:36
3       1        13    0.0     0.2   4/15/96 12:13:36
4       1        17    0.8     1.0    9/18/96 9:22:08

In [69]:
#person->user_id, movie_ID->movie_id, Score->rating
ratings.columns = ['user_id', 'movie_id', 'rating', 'Weight', 'Modified']

#rating 수 변환
def changeRating(num) :
    if num == 0:
        return 1
    else :
        return int(5 * num)
ratings.rating = ratings.rating.map(lambda x : changeRating(x))

# 중복 제거
ratings = ratings.drop_duplicates(subset=['user_id', 'movie_id'])

#random data 추출
ratings = sklearn.utils.shuffle(ratings)
ratings = ratings.iloc[:250000]

#index를 user_id로 변환
ratings = ratings.set_index('user_id')

print(ratings.shape)
ratings.head()

(250000, 4)

         movie_id  rating  Weight           Modified
user_id
47347         231       5     0.5  11/16/96 20:27:27
67245         830      20     1.0    5/2/97 14:20:00
44903         595      15     1.0   11/4/96 11:55:42
7863          218       5     0.2   5/13/96 12:09:50
57787         308      20     1.0   1/22/97 23:26:48

In [71]:
ratings_by_user = ratings.groupby(by='user_id')['rating'].count()
ratings_by_user = ratings_by_user[ratings_by_user > 10]
ratings = ratings.loc[ratings_by_user.index]
ratings.head()

         movie_id  rating  Weight           Modified
user_id
1             968       5     1.0  10/22/96 14:22:19
1            1201      10     1.0  10/26/96 14:54:10
1            1080      10     1.0  10/22/96 16:38:58
1             440      10     1.0   4/21/96 11:43:04
1            1082      10     1.0    5/6/97 18:43:16

In [72]:
#csv 저장
ratings.to_csv("C:\RecoSys\Data\EM_ratings.csv", encoding='utf-8')