In [19]:
import re
import os
import sys
import joblib

import ast
import numpy as np
import pandas as pd

import tensorflow as tf

In [3]:
# 데이터 로드 + 전처리
df_user = pd.read_csv('C:/RecoSys/Data/project/PR_users.csv', encoding='cp949')     #columns=[User-ID, Age_cate, state, country]

df_item = pd.read_csv('C:/RecoSys/Data/project/PR_books.csv', encoding='cp949')     #columns=[ISBN, Book-Title, Book-Author, Year-Of-Publication, Publisher]
df_item['Book-Title'] = df_item['Book-Title'].apply(lambda x : re.sub(r'[^a-z \s{0,}]','', x)) #특수문자 제거
df_item['Book-Author'] = df_item['Book-Author'].apply(lambda x : re.sub(r'[^a-z \s{0,}]','', str(x))) #특수문자 제거
df_item['Publisher'] = df_item['Publisher'].apply(lambda x : re.sub(r'[^a-z \s{0,}]','', x)) #특수문자 제거

df_train1 = pd.read_csv('C:/RecoSys/Data/project/train_1.csv')  #columns=[User-ID, ISBN, Book-Rating]
df_train2 = pd.read_csv('C:/RecoSys/Data/project/train_2.csv')
df_train3 = pd.read_csv('C:/RecoSys/Data/project/train_3.csv')

df_test1 = pd.read_csv('C:/RecoSys/Data/project/test_1.csv')    #columns=[User-ID, ISBN]
df_test1_answer = pd.read_csv('C:/RecoSys/Data/project/test_1_answer.csv') #columns=[Book-Rating]
df_test2 = pd.read_csv('C:/RecoSys/Data/project/test_2.csv')
df_test2_answer = pd.read_csv('C:/RecoSys/Data/project/test_2_answer.csv')
df_test3 = pd.read_csv('C:/RecoSys/Data/project/test_3.csv')
df_test3_answer = pd.read_csv('C:/RecoSys/Data/project/test_3_answer.csv')

# 혹시나 원본 파일로 작업하게 된다면 귀찮지 말라고 남겨둠,,
#df.drop(columns='Unnamed: 0', inplace=True)
#df.drop(columns=['Unnamed: 0', 'Book-Rating'], inplace=True)

In [4]:
df_train = pd.merge(df_user, df_train1, on='User-ID', how='inner')
df_train = pd.merge(df_item, df_train, on = 'ISBN', how='inner')
df_train = df_train[['User-ID', 'ISBN', "Book-Title", 'Book-Author', 'Year-Of-Publication', 'Publisher',
                     'Age_cate', 'state', 'country', 'Book-Rating']]
df_train.head()

,User-ID,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Age_cate,state,country,Book-Rating
0,101606,1551103982,thecyclingadventuresofcoconutheadanorthamerica...,tedschredd,1900,graphicartscenterpubco,30-39,ontario,canada,7
1,189334,013022393X,allthebestsaladsandsaladdressings,jwarner,1911,prenticehalldirect,40-49,ontario,canada,9
2,198711,030758013X,assortedsmalltraypuzzles,golden,1920,goldenbooks,60-69,minnesota,usa,0
3,158127,082493069X,grillandbarbecuecooking,idealspublicationsinc,1920,idealspublications,40-49,georgia,usa,0
4,91203,684717603,thegreatgatsbyscribnerclassic,fscottfritzgerald,1920,scribnerpaperfiction,30-39,scotland,united kingdom,0

In [5]:
str_features = ['User-ID', 'ISBN', "Book-Title", 'Book-Author', 'Publisher', 'Age_cate', 'state', 'country']
int_features = ['Year-Of-Publication']
label_feature = ['Book-Rating']
feature_names = str_features + int_features + label_feature
feature_names, len(feature_names)

(['User-ID',
  'ISBN',
  'Book-Title',
  'Book-Author',
  'Publisher',
  'Age_cate',
  'state',
  'country',
  'Year-Of-Publication',
  'Book-Rating'],
 10)

In [21]:
import numpy as np
import pandas as pd
import tensorflow as tf
import tensorflow.python.keras.backend as K
from tensorflow.python.keras import layers
from tensorflow.python.keras.layers import Dense
from tensorflow.python.keras.optimizers import Adam
from tensorflow.python.keras.layers import Input, Embedding, Reshape, Add
from tensorflow.python.keras.layers import Flatten, merge, Lambda
from tensorflow.python.keras.models import Model
from tensorflow.python.keras.utils.vis_utils import plot_model
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.metrics import accuracy_score
import random

ImportError: cannot import name 'Adam' from 'tensorflow.python.keras.optimizers' (c:\Anaconda3\envs\myYonlu\lib\site-packages\tensorflow\python\keras\optimizers.py)